.login-container {
    background-color: rgb(245, 245, 245);;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.login-container form {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-button {
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
    font-size: 16px;
    color: #00917C;
    border: 1px solid #00917C;
    background-color: white;
    transition: 0.3s;
}

.login-button:hover {
    cursor: pointer;
    background-color: #00917C;
    border: 1px solid #00917C;
    color: white;
}